@model IEnumerable<INV.Models.Order>

@{
    ViewBag.Title = "Orders";
}

<p>
    <a href="@Url.Action("Create", "Orders")" class="btn btn-success">
        <i class="fa fa-file"></i>
        Create New
    </a>
</p>
<table class="table table-bordered table-hover" id="myTable">
    <thead>
    <tr>
        <th>#</th>
        <th>@Html.DisplayNameFor(model => model.DateTime)</th>
        <th>@Html.DisplayNameFor(model => model.Customer.Name)</th>
        <th class="hidden-xs">Employee Name</th>
        <th>@Html.DisplayNameFor(model => model.DateTime)</th>
        <th class="hidden-xs">@Html.DisplayNameFor(model => model.Description)</th>
        <th>Action</th>
    </tr>
    </thead>
    @{ int i = 0; }
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@(++i)</td>
            <td>@Html.DisplayFor(modelItem => item.DateTime)</td>
            <td>@Html.DisplayFor(modelItem => item.Customer.Name)</td>
            <td class="hidden-xs">@Html.DisplayFor(modelItem => item.AspNetUser.FullName)</td>
            <td>@Html.DisplayFor(modelItem => item.DateTime)</td>
            <td class="hidden-xs">@Html.DisplayFor(modelItem => item.Description)</td>
            <td class="text-center">
                <div class="btn-group">
                    <a href="@Url.Action("Details", "Orders", new {id = item.ord_id})" class="btn btn-flat bg-yellow">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a id="deleteBtn" onclick="deletefunc('@item.ord_id')" class="btn btn-flat bg-red">
                        <i class="fa fa-remove"></i>
                    </a>
                    <a href="@Url.Action("PrintInvoice", "Orders", new {id = item.ord_id})" class="btn btn-flat bg-blue">
                        <i class="fa fa-print"></i>
                    </a>
                </div>
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <th>#</th>
        <th>@Html.DisplayNameFor(model => model.DateTime)</th>
        <th>@Html.DisplayNameFor(model => model.Customer.Name)</th>
        <th class="hidden-xs">@Html.DisplayNameFor(model => model.AspNetUser.FullName)</th>
        <th>@Html.DisplayNameFor(model => model.DateTime)</th>
        <th class="hidden-xs">@Html.DisplayNameFor(model => model.Description)</th>
        <th>Action</th>
    </tr>
    </tfoot>
</table>

@section styles
{
    <link href="~/Content/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet"/>
    <link href="~/Content/plugins/datatables/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet"/>
    <link href="~/Content/plugins/sweetAlert/sweetalert.css" rel="stylesheet"/>
}

@section scripts
{
    <script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatables/extensions/Buttons/js/buttons.flash.min.js"></script>
    <script src="~/Content/plugins/datatables/jszip.min.js"></script>
    <script src="~/Content/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/Content/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/Content/plugins/datatables/extensions/Buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatables/extensions/Buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/plugins/sweetAlert/sweetalert.min.js"></script>
    <script src="~/Content/plugins/datatables/extensions/Buttons/js/buttons.colVis.min.js"></script>
    <script src="~/Scripts/Orders/Index.js"></script>
}