@model IEnumerable<INV.Models.Supplier>

@{
    ViewBag.Title = "Index";
}

<p>
    <a href="@Url.Action("Create", "Suppliers")" class="btn btn-success">
        <i class="fa fa-file"></i>
        Create New
    </a>
</p>

<table class="table table-bordered table-hover" id="myTable">
    <thead>
    <tr>
        <th>#</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Address)</th>
        <th>@Html.DisplayNameFor(model => model.Phone)</th>
        <th class="hidden-xs">@Html.DisplayNameFor(model => model.Photo)</th>
        <th class="hidden-xs">@Html.DisplayNameFor(model => model.Zipcode)</th>
        <th class="hidden-xs">@Html.DisplayNameFor(model => model.Email)</th>
        <th class="hidden-xs">@Html.DisplayNameFor(model => model.Notes)</th>
        <th>Action</th>
    </tr>
    </thead>
    @{ int i = 0; }
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@(++i)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Address)</td>
            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
            <td class="hidden-xs">
                <img src="@(item.Photo == "" ? "/Content/Images/Suppliers/Default.png" : "/Content/Images/Suppliers/" + item.Photo)" width="50px" height="50px" class="image img-thumbnail"/>
            </td>
            <td class="hidden-xs">@Html.DisplayFor(modelItem => item.Zipcode)</td>
            <td class="hidden-xs">@Html.DisplayFor(modelItem => item.Email)</td>
            <td class="hidden-xs">@Html.DisplayFor(modelItem => item.Notes)</td>
            <td class="text-center">
                <div class="btn-group">
                    <a href="@Url.Action("Edit", "Suppliers", new {id = item.sup_id})" class="btn btn-flat bg-green">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="@Url.Action("Details", "Suppliers", new {id = item.sup_id})" class="btn btn-flat bg-yellow">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a id="deleteBtn" onclick="deletefunc('@item.sup_id')" class="btn btn-flat bg-red">
                        <i class="fa fa-remove"></i>
                    </a>
                </div>
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <th>#</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Address)</th>
        <th>@Html.DisplayNameFor(model => model.Phone)</th>
        <th class="hidden-xs">@Html.DisplayNameFor(model => model.Photo)</th>
        <th class="hidden-xs">@Html.DisplayNameFor(model => model.Zipcode)</th>
        <th class="hidden-xs">@Html.DisplayNameFor(model => model.Email)</th>
        <th class="hidden-xs">@Html.DisplayNameFor(model => model.Notes)</th>
        <th>Action</th>
    </tr>
    </tfoot>
</table>

@section styles
{
    <link href="~/Content/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet"/>
    <link href="~/Content/plugins/datatables/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet"/>
    <link href="~/Content/plugins/sweetAlert/sweetalert.css" rel="stylesheet"/>
}

@section scripts
{
    <script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatables/extensions/Buttons/js/buttons.flash.min.js"></script>
    <script src="~/Content/plugins/datatables/jszip.min.js"></script>
    <script src="~/Content/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/Content/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/Content/plugins/datatables/extensions/Buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatables/extensions/Buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/plugins/sweetAlert/sweetalert.min.js"></script>
    <script src="~/Content/plugins/datatables/extensions/Buttons/js/buttons.colVis.min.js"></script>
    <script src="~/Scripts/Suppliers/Index.js"></script>
}